*{
    padding: 0px;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    font-family: 'Fira Sans', sans-serif;
    font-size: medium;
}
.heading{
    margin-top: 1rem;
}
.main{
    display: flex;
    flex-direction:row ;
    border: 1px solid black;
   
}
.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 5px  grey;
    width: 50vw;
    padding: 3rem;
    justify-content: center;
    margin-top:2rem;
    background-color: rgb(255, 255, 255);

}
.inner{
    padding: .5rem;
}
textarea{
    width: 100%;
}
#converter{
    background-color: rgb(23, 135, 187);
    border: none;
    border-radius: 40px;
    margin-top: 1rem;
    height: 2rem;
    width: 20%;
    transition: .3s ease-in;
}
#converter:hover{
    width: 22%;
}
i{
    margin-left: 1rem;
}
select{
    width: 6rem;
}
@media (max-width:700px) {
    .main{
        flex-direction: column;
    }
   #converter{
       width: 40%;
   }
   #converter:hover{
    width: 42%;
}
}
